.images{

    display: flex;
    flex-direction: row;
    

}

.image-cont{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    width: 100%;
}

.image-cont img{
    align-self: center;
}
