.images{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 30% 30% 40%;

}
#mac {
    height: 500px;
    width: 300px;
}

#glass {
    height: 500px;
    width: 300px;
}

#code {
    height: 500px;
    width: 300px;
}